/node_modules
/dist
/release
.husky
/.vscode
/browser-extension/dist
/browser-extension/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log
.npm-debug.log
.DS_Store
.env
/vector-store
*.traineddata