.layout {
  width: 100vw;
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  .logo {
    width: 140px;
    min-width: 140px;
    display: flex;
    align-items: center;
    .text {
      padding-left: 10px;
      font-size: 24px;
      color: #fff;
    }
  }
  .sologon {
    font-size: 12px;
    color: var(--ant-color-text-secondary);
    margin-left: 24px;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--ant-color-bg-container);
  .left {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
  }
  .right {
    display: flex;
    justify-content: flex-start;
    padding-left: 24px;
    border-left: 1px solid var(--ant-color-border);
  }
  .mainForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .userTips {
      font-size: 12px;
      color: var(--ant-color-text-secondary);
      margin-left: 12px;
      cursor: pointer;
      &:hover {
        color: var(--ant-color-text);
      }
    }
  }
}
